services:
  web1:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./app/web1/TP-Final-3IW-ESGI:/var/www/html
      - ./nginx/web1.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php1
    networks:
      - app-network

  php1:
    build:
      context: .
      dockerfile: php/Dockerfile
    volumes:
      - ./app/web1/TP-Final-3IW-ESGI:/var/www/html
    depends_on:
      - mysql
    networks:
      - app-network

  web2:
    image: nginx:latest
    ports:
      - "8081:80"
    volumes:
      - ./app/web2/TP-Final-3IW-ESGI-main:/var/www/html
      - ./nginx/web2.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php2
    networks:
      - app-network

  php2:
    build:
      context: .
      dockerfile: php/Dockerfile
    volumes:
      - ./app/web2/TP-Final-3IW-ESGI-main:/var/www/html
    depends_on:
      - mysql
    networks:
      - app-network

  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: database
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mysql:/var/lib/mysql
    networks:
      - app-network

volumes:
  mysql: {}

networks:
  app-network:
    driver: bridge
